
input{
    width:40%;
   height: 50px;
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px; 
    height: 15px;  
    margin-right: 10px;
    display: inline-flex;
    
}
form{
     display: flex;
}
.send{
    flex: .90;
}
.send-btn{
   
    margin-right: 10px;
    margin-top: 10px;
    width: 75px;
    height: 45px;
     border-radius: 25px;
  
     border: 2px solid grey;
    background-color: #77bca6;

}