.side{
    width: 275px;
    height:50vh; 
    border-right: solid .5px lightgrey;
    position: relative;
    text-align: center;
}
.side-button{
    width:90%;
    height:10%;
    margin-top: 10%;
}