.logo{
   color: #7cbfaf;
   padding-left: 3%;
   font-size:xx-large;
   font-family: 'Cormorant Garamond', serif;
}

.nav-items{
  font-size: x-large;
  font-family: 'Cormorant Garamond', serif;
  
}
nav{
  border-bottom: solid 1px lightgrey;
}