.bio{
    background-color: #ECEFEE;
    border: solid 2px grey;
    /* float: left;  */
    width: 35%;
    height: 80%;
    border-radius: 8px;

    margin: 10% 0 0 10%;
    text-align: center;
    
    margin-right: 5%;
  /* 
  flex-direction: row;

  border-radius: 8px;
  border-width: auto;
  margin: auto;
  
  margin-bottom: 20px;
  padding-right: 10%;
  text-align: center; */
}

.bio p{
   padding: 5%;
    
}